name: digit recognition
on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    container: docker://ghcr.io/iterative/cml:0-dvc2-base1
    steps:
      - name: work around permission issue
        run: git config --global --add safe.directory /__w/digitRecognition/digitRecognition
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install -r requirements.txt
          dvc repro evaluate
          git fetch --prune
          dvc metrics diff --show-md main > report.md
          # Add figure to the report
          echo "## Validating results by region"
          #cml-publish by_region.png --md >> report.md
          cml-send-comment report.md
